{% block config %}
{% set
  site = {
    language_attributes: "ru",
    url: "https://www.example.tld",
    rss: "",
    fonts: "Roboto:300,400,500&amp;subset=cyrillic",
    theme: {
      link: "."
    },
    googleTagManager: "GTM-WXTNS9W",
    facebookAdmins: "",
    prefetch1: "https://fonts.googleapis.com/"
  }
%}

{% set
  company = {
    name: "Тимуджин Групп",
    slag: "company-name",
    logo: site.url ~ "/a/img/components/logo/company-logo.svg",
    color: "#f33",
    phone: ""
  }
%}
{% endblock %}

<!DOCTYPE html>
<html lang="{{ site.language_attributes }}" prefix="og: http://ogp.me/ns#">
<head>

  {% block html_head %}
    {% include "/templates/base/head.twig" %}
  {% endblock %}
</head>

<body{% if post.bodyClasses %} class="{{ post.bodyClasses }}"{% endif %}>
  {# Google Tag Manager +  #}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK3XDPZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  {% block header %}
    {# HERO #}
    <header class="header">
      <nav class="container">

          <a class="logo" href="/">
            <img src="/img/components/logo/logo.svg" alt="Логотип Temujin Group">
          </a>

          <ul class="menu">
            <li class="d-none d-sm-inline-block">
              <a class="menu__link is-local" href="#about">
                О нас
              </a>
            </li>
            <li>
              <a class="menu__link is-local" href="#service">
                Услуги
              </a>
            </li>
            <li>
              <a class="menu__link is-local" href="#projects">
                Проекты
              </a>
            </li>
            <li>
              <a class="menu__link" href="/education.html">
                Образование
              </a>
            </li>
            <li class=" d-none d-sm-inline-block">
              <a class="menu__link is-local" href="#contacts">
                Контакты
              </a>
            </li>
          </ul>
      </nav>

    </header>

    {# Direct Contacts #}
    <div class="contacts-bar">
      <div class="container">
        <ul class="contacts-bar__menu">
          {# <li><a href="#"><img src="/img/fb.png" alt="fb"></a></li>
          <li><a href="#"><img src="/img/twitter.png" alt="twitter"></a></li> #}
          <li class="d-none d-sm-inline-block">
            <a href="mailto:timujin.group@gmail.com">
              <svg class="icon" role="presentation">
                <use xlink:href="/img/base/icons/sprite.svg#icon-md-mail"></use>
              </svg>
              timujin.group@gmail.com
            </a>
          </li>
          <li>
            <a href="tel:+7-903-291-6895">
              <svg class="icon" role="presentation">
                <use xlink:href="/img/base/icons/sprite.svg#icon-md-phone"></use>
              </svg>
              +7 (903) 291-68-95
            </a>
          </li>
        </ul>
      </div>
    </div>
  {% endblock %}

  {% block content %}
  {# Main content #}
  {% endblock %}

  {# Footer #}
  {% block footer %}

  {# FOOTER #}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div  class="footer__item col-md-4 col-lg-3 offset-lg-1">
            <span>© Temujin Group 2018</span>
            <address>109052, Российская Федерация, г.&nbsp;Москва, ул.&nbsp;Подъемная, дом&nbsp;12, стр.&nbsp;1, кабинет&nbsp;504</address>
          </div>

          <p class="footer__item is-mail col-md-4 col-lg-3 offset-lg-1">
            <svg class="icon" role="presentation">
              <use xlink:href="/img/base/icons/sprite.svg#icon-sm-email"></use>
            </svg>
            Электронная почта <a href="mailto:timujin.group@gmail.com">timujin.group@gmail.com</a> </p>

          <p class="footer__item is-phone col-md-4 col-lg-3">
            <svg class="icon" role="presentation">
              <use xlink:href="/img/base/icons/sprite.svg#icon-sm-phone"></use>
            </svg>
            Контактный телефон: <span> +7 (903) 291-68-95 </span>
          </p>
          {# <div class="footer__item col-md-3">
            <a href="#" aria-label="facebook">
              <svg class="icon" role="presentation">
                <use xlink:href="/img/base/icons/sprite.svg#icon-md-facebook"></use>
              </svg>
            </a>
          </div> #}
        </div>
      </div>
    </footer>
  {% endblock %}

  {# Modals etc #}
  {% block body_add_on %}
  {% endblock %}

  {# SCRIPTS -------------------------------------------------------------- #}
  {% block scripts %}
    {% include "/templates/base/scripts.twig" %}
  {% endblock %}
</body>
</html>
