// -----------------------------------------------------------------------------
// DOCUMENT
// -----------------------------------------------------------------------------

body {
  background-color: $color-background-primary;
  color: $color-ink-normal;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-align: left;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base-desktop;
    line-height: $line-height-base-desktop;
  }
}

// -----------------------------------------------------------------------------
// BODY COPY
// -----------------------------------------------------------------------------

// LINKS

a {
  color: $color-ink-link;
  text-decoration: none;
  transition: color $duration-xs $easing;

  &:hover {
    color: $color-ink-link-hover;
    text-decoration: underline;
  }
}

.link.is-pdf {
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill-rule%3D%22nonzero%22%20transform%3D%22translate%284%202%29%22%3E%3Cpath%20fill%3D%22%23C9CCD0%22%20d%3D%22M6%2C0%20L12%2C6%20L12%2C15%20C12%2C15.5522847%2011.5522847%2C16%2011%2C16%20L1%2C16%20C0.44771525%2C16%200%2C15.5522847%200%2C15%20L0%2C1%20C0%2C0.44771525%200.44771525%2C0%201%2C0%20L6%2C0%20Z%22%2F%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%225.586%201%201%201%201%2015%2011%2015%2011%206.414%22%2F%3E%3Cpolygon%20fill%3D%22%23C9CCD0%22%20points%3D%227%200%2012%205%2012%206%206%206%206%200%22%2F%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%227%205%2010.586%205%207%201.414%22%2F%3E%3C%2Fg%3E%3Cpolygon%20fill%3D%22%23C4A56E%22%20points%3D%2213%2014%2013%2016%2012%2016%2012%2011%2014%2011%2014%2012%2013%2012%2013%2013%2014%2013%2014%2014%22%2F%3E%3Cpath%20fill%3D%22%23C4A56E%22%20d%3D%22M7%2013L7.5%2013C7.77614237%2013%208%2012.7761424%208%2012.5%208%2012.2238576%207.77614237%2012%207.5%2012L7%2012%207%2013zM6%2012L6%2011%207.5%2011C8.32842712%2011%209%2011.6715729%209%2012.5%209%2013.3284271%208.32842712%2014%207.5%2014L7%2014%207%2016%206%2016%206%2012zM10%2012L10%2015C10.5522847%2015%2011%2014.5522847%2011%2014L11%2013C11%2012.4477153%2010.5522847%2012%2010%2012zM10%2011C11.1045695%2011%2012%2011.8954305%2012%2013L12%2014C12%2015.1045695%2011.1045695%2016%2010%2016L9%2016%209%2011%2010%2011z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A') no-repeat 0 -.1rem;
  display: inline-block;
  padding-left: 2.4rem;
}

b,
strong {
  font-weight: 500;
}

// BLOCKS

address,
blockquote,
dl,
figure,
ol,
p,
pre,
ul {
  margin: 0;
  padding-top: ($spacer / 4);
  padding-bottom: ($spacer / 4 * 3);
}

// LISTS

ul:not([class]) {
  list-style-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226%22%20height%3D%2216%22%20viewBox%3D%220%200%206%2016%22%3E%3Ccircle%20cx%3D%223%22%20cy%3D%2211%22%20r%3D%222%22%20fill%3D%22%238D9093%22%2F%3E%3C%2Fsvg%3E');
  padding: 0 0 0 16px;

  @include media-breakpoint-up(md) {
    padding: 0;
  }
}

li,
.list-caption {
  margin-bottom: $spacer-sm;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.list.is-unstyled {
  list-style: none;
  padding-left: 0;
}

.list.is-inline {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

dt {
  font-weight: 500;
}

dd {
  margin-left: 0;
}

// DIVIDERS

// hr {
//   border: 0;
//   border-top: $border-width solid $color-ink-border;
//   margin-top: ($spacer * 3 - .1rem);
//   margin-bottom: ($spacer * 3);
// }

.hr.is-invisible {
  border: 0;
  margin-top: ($spacer * 2);
  margin-bottom: ($spacer * 2);
}

// -----------------------------------------------------------------------------
// HELPERS
// -----------------------------------------------------------------------------

.nobr {
  white-space: nowrap;
}

.note {
  color: $color-ink-muted;
}

.sr-only,
%sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.text-hide,
%text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
