.icon {
  // Можно окрасить иконку в цвет текста
  // или назначить свой цвет
  fill: currentColor;
  overflow: hidden;

  // Vertical-align: middle не всегда
  // выравнивает по визуальному центру, надо
  // экспериментировать с цифровыми значениями
  vertical-align: -.3em;
  width: 2rem;
  height: 2rem;
}
