.header {
  background-color: $color-secondary;
  background-blend-mode: multiply, color, normal;
  background-position:
    center center,
    center top;
  background-repeat: repeat, repeat, no-repeat;
  color: $color-ink-light-normal;
  text-align: center;
  position: relative;
  height: 25rem;
}

// LOGO
.logo {
  display: inline-flex;
  padding-top: 30px;

  &:hover {
    opacity: .8;
  }
}

.logo__mark,
.logo__temujin,
.logo__group {
  @extend %text-hide;

  background: url('/img/components/logo/logo.svg') no-repeat;
  background-size: 195px 260px;
}

.logo__type {
  display: none;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    padding-top: 61px;
    padding-left: 30px;
  }
}

.logo__temujin,
.logo__group {
  display: block;
}

.logo__mark {
  background-position: -17px 0;
  display: block;
  width: 161px;
  height: 155px;
}

.logo__temujin {
  @include media-breakpoint-up(sm) {
    background-position: 0 -183px;
    margin-bottom: .7rem;
    width: 195px;
    height: 40px;
  }
}

.logo__group {
  @include media-breakpoint-up(sm) {
    background-position: -54px -237px;
    width: 89px;
    height: 23px;
  }
}


// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------

.menu {
  margin: 0 auto;
  padding: 1.4rem 0 0;
  text-align: center;
}

.menu li {
  display: inline-block;
  width: auto;
  text-align: center;
}

.menu__link {
  color: $color-ink-highlight;
  display: inline-block;
  font-family: $font-family-headings;
  font-size: $font-size-base;
  font-weight: 500;
  text-decoration: none;
  padding: .5rem $spacer-sm;
  transition: color $duration $easing;

  &:hover {
    color: hsl(0, 0%, 100%);
  }

  &.is-active {
    background: $color-primary;
    border-radius: $border-radius-xs;
    color: $color-ink-light-normal;
    cursor: default;
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, .24);
    pointer-events: none;

    &:hover {
      text-decoration: none;
    }
  }
}


// -----------------------------------------------------------------------------
// CONTACTS
// -----------------------------------------------------------------------------

.contacts-bar {
  background: $color-secondary;
}

.contacts-bar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}


.contacts-bar__menu li {
  display: inline-block;
  text-align: center;
  margin-left: $spacer-sm;
  padding: 0 1px;
  width: auto;
}

.contacts-bar__menu  a {
  color: $color-ink-light-normal;
  font-family: $font-family-headings;
  font-size: $font-size-sm;
  font-weight: 400;
  text-decoration: none;
  transition: all $duration $easing;

  &:hover {
    opacity: .8;
  }
}

.contacts-bar__menu .icon {
  margin-right: $spacer-sm;
  vertical-align: -.9rem;
  width: 28px;
  height: 28px;
}

