// Notes on the classes:
//
// 1. The .carousel-item-left and .carousel-item-right is used to indicate where
//    the active slide is heading.
// 2. .active.carousel-item is the current slide.
// 3. .active.carousel-item-left and .active.carousel-item-right is the current
//    slide in its in-transition state. Only one of these occurs at a time.
// 4. .carousel-item-next.carousel-item-left and .carousel-item-prev.carousel-item-right
//    is the upcoming slide in transition.

$carousel-control-color:              hsl(0, 0%, 100%);
$carousel-control-width:                15%;
$carousel-control-opacity:              .5;

$carousel-indicator-width:              30px;
$carousel-indicator-height:             3px;
$carousel-indicator-spacer:             3px;
$carousel-indicator-active-bg:          hsl(0, 0%, 100%);

$carousel-caption-width:                70%;
$carousel-caption-color:                hsl(0, 0%, 100%);

$carousel-control-icon-width:           20px;

$carousel-control-prev-icon-bg:         url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
$carousel-control-next-icon-bg:         url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

// Define transform transition first if using multiple transitions
// (e.g., `transform 2s ease, opacity .5s ease-out`)
$carousel-transition:                   transform $duration-xl $easing;


.carousel {
  position: relative;
}

.carousel-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-item {
  align-items: center;
  backface-visibility: hidden;
  display: none;
  perspective: 1000px;
  position: relative;
  width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  transition: $carousel-transition;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translate3d(0, 0, 0);
}

.carousel-item-next,
.active.carousel-item-right {
  transform: translate3d(100%, 0, 0);
}

.carousel-item-prev,
.active.carousel-item-left {
  transform: translate3d(-100%, 0, 0);
}


// ALTERNATE TRANSITIONS

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: $duration-xl;
    transition-property: opacity;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    opacity: 0;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active,
  .active.carousel-item-left,
  .active.carousel-item-prev {
    transform: translate3d(0, 0, 0);
  }
}

// -----------------------------------------------------------------------------
// PREVIOUS / NEXT
// -----------------------------------------------------------------------------

.carousel__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 2.4rem;
  padding-bottom: 4.4rem;
}

.carousel__control {
  background-repeat: no-repeat;
  background-size: 4rem .5rem;
  color: $color-primary;
  font-family: $font-family-headings;
  font-size: $font-size-sm;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;
  }
}

.carousel__control.is-prev {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2240%22%20height=%225%22%20viewBox=%220%200%2040%205%22%3E%3Cpolygon%20fill=%22#C4A56E%22%20fill-rule=%22evenodd%22%20points=%2236%202%2036%200%2040%202.493%2036%205%2036%203%200%203%200%202%22%20transform=%22matrix(-1%200%200%201%2040%200)%22/%3E%20%3C/svg%3E');
  background-position: left center;
  padding-left: ($spacer * 2);
}

.carousel__control.is-next {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2041.8%203.68%22%3E%3Crect%20y=%221.34%22%20width=%2239.54%22%20height=%221%22%20fill=%22#c4a56e%22/%3E%3Cpolygon%20points=%2238.61%200%2041.8%201.84%2038.61%203.69%2038.61%200%22%20fill=%22#c4a56e%22/%3E%3C/svg%3E');
  background-position: right center;
  padding-right: ($spacer * 2);
}

// -----------------------------------------------------------------------------
// THUMBNAILS
// -----------------------------------------------------------------------------


@include media-breakpoint-up(md) {
  .carousel__thumbnail.is-project:not(:nth-of-type(2)) {
    opacity: .4;
    transition: opacity $duration $easing;

    &:hover {
      opacity: 1;
    }
  }
}

.carousel__figcaption {
  color: $color-ink-light-normal;
  font-family: $font-family-headings;
  font-size: $font-size-sm;
  text-align: center;
  padding-top: 1rem;
}
