
// stylelint-disable selector-class-pattern, order/order, selector-no-qualifying-type

// INTRO
.section__body {
  font-family: $font-family-headings;
  font-size: $font-size-lg;
  font-weight: 300;
  line-height: $line-height-lg;
  text-align: center;
}

// CONTAINERS
.section {
  padding: 30px 0 0;

  // Highlight
  &.is-highlight {
    background: $color-background-highlight;
    padding: 40px 0;

    h2 {
      color: $color-ink-light-normal;

      &::before {
        background: $color-ink-light-normal;
      }
    }
  }

  // Negative

  &.is-negative {
    background: $color-secondary;

    h2 span {
      color: $color-ink-light-normal;
    }
  }
}


// HEADINGS

.section h2,
.section__title {
  @extend %subhead;
}

.is-clients h2 {
  margin-bottom: 0;
}

// SERVICES

.service {
  align-items: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 70px;
  }
}

.service__pic {
  text-align: center;
}

.service__desc h3 {
  font-family: $font-family-headings;
  font-size: $font-size-base;
  font-weight: 500;
  line-height: $line-height-base;
  text-transform: uppercase;
  padding-bottom: .4rem;

  @include media-breakpoint-up(md) {
    &.has-text-right {
      text-align: right;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base-desktop;
    line-height: $line-height-base-desktop;
    padding-bottom: .4rem;
  }
}


// MAP

.map {
  filter: grayscale(100%);
  width: 100%;
  height: 500px;
}

.top-offset {
  margin-top: 30px;
}


