// -----------------------------------------------------------------------------
// DOCUMENT
// -----------------------------------------------------------------------------

body {
  background-color: $color-background-primary;
  color: $color-ink-normal;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-align: left;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base-desktop;
    line-height: $line-height-base-desktop;
  }
}

// -----------------------------------------------------------------------------
// BODY COPY
// -----------------------------------------------------------------------------

// Links

a {
  color: $color-ink-link;
  text-decoration: none;
  transition: color $duration-xs $easing;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// Blocks

address,
blockquote,
dl,
figure,
ol,
p,
pre,
ul {
  margin: 0;
  padding-top: ($spacer / 4);
  padding-bottom: ($spacer / 4 * 3);
}

// Lists

ul:not([class]) {
  list-style-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226%22%20height%3D%2216%22%20viewBox%3D%220%200%206%2016%22%3E%3Ccircle%20cx%3D%223%22%20cy%3D%2211%22%20r%3D%222%22%20fill%3D%22%238D9093%22%2F%3E%3C%2Fsvg%3E');
  padding: 0 0 0 16px;

  @include media-breakpoint-up(md) {
    padding: 0;
  }
}

li,
.list-caption {
  margin-bottom: $spacer-sm;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-left: 0;
}
