// Form

// Input container
.form__group {
  position: relative;
  margin-bottom: $spacer-sm;
}

label {
  margin-bottom: 0;
}

// Input and text area
.form__control {
  appearance: none;
  background-clip: padding-box;
  background: rgba($color-primary-l1, .3);
  background-image: none;
  border-radius: 0;
  border: 1px solid $color-primary-l1;
  color: $color-ink-muted;
  font-family: $font-family-headings;
  font-size: $font-size-base-desktop;
  font-weight: 500;
  display: block;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 .8rem;
  overflow: visible;
  padding: 1rem;
  touch-action: manipulation;
  transition: border-color $easing $duration-xs;
  width: 100%;

  &:focus {
    color: $color-ink-normal;
    border-color: $color-ink-light-normal;
    outline: 0;
  }

  &::placeholder {
    color: darken($color-primary, 15%);
    font-family: $font-family-headings;
    font-size: $font-size-base-desktop;
    font-weight: 500;
    text-transform: uppercase;
  }
}

