
// -----------------------------------------------------------------------------
// CONTACTS FORM
// -----------------------------------------------------------------------------

.form__group.is-actions {
  position: relative;
}

.form.is-contacts .btn {
  width: 15rem;

  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    right: -16rem;
  }
}
